include CONTRIBUTING.md
include LICENSE
include SECURITY.md
recursive-include .github/workflows *.yml
recursive-include docs *.md
recursive-include requirements *.txt
recursive-include scripts *.py
include src/jring/resources/completions/jring.bash
include src/jring/resources/man/jring.1
recursive-include tests/fixtures *.json
